.nav-container {
  position: sticky;
  z-index: 10;
  top: 0;
}

.navbar {
  display: flex;
  justify-content: space-between;
  height: 10vh;
  background-color: #FFF;
}

.navbar a{
  text-decoration: none;
}

.navbar-logo {
  flex-direction: row;
  margin: 10px ;
  cursor: pointer;
  width: 200px;
}

.navbar-cart-logo {
  width: 50px;
  height: 50px;
  margin: 20px;
  
}